# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html
[client]
default-character-set = utf8

[mysql]
default-character-set = utf8

[mysqld]

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


skip-external-locking
max_connections = 1500
secure_file_priv =''

bind-address            = 0.0.0.0

key_buffer_size         = 1G
max_allowed_packet      = 1G
thread_stack            = 512K
thread_cache_size       = 48
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

sort_buffer_size        = 2M
read_buffer_size        = 2M
read_rnd_buffer_size    = 2M
join_buffer_size        = 2M
binlog_cache_size       = 128K
max_connect_errors      = 500
concurrent_insert       = 2
connect_timeout    = 28800
wait_timeout   = 28800


myisam-recover-options  = BACKUP
max_connect_errors = 10000


query_cache_limit       = 0
query_cache_size        = 0


expire_logs_days        = 10
max_binlog_size   = 100M

innodb_buffer_pool_size = 24G
innodb_status_file
innodb_file_per_table

innodb_flush_log_at_trx_commit  = 2
innodb_table_locks              = 0
innodb_log_buffer_size          = 512M
innodb_thread_concurrency       = 48
innodb_flush_method             = O_DIRECT
skip-innodb-doublewrite
innodb_buffer_pool_instances = 24
innodb_rollback_on_timeout=1
innodb_file_per_table

character-set-client-handshake = FALSE
character-set-server = utf8
collation-server = utf8_unicode_ci

